RandomSeed1SequenceStart=12001
RandomSeed2SequenceStart=12003
NumberofJobs=500
DetectorVersion=14-8gev
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v14-8GeV-1e-ecal_photonuclear
Scope=mc24
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=Yes
LdmxImage=LDMX_pro-3.3.3.sif
SimExecutable=ldmxsim.sh
JobWallTime=180
JobMemory=2
JobTemplate=ldmxjob-tskim-on-v3.3.3.py.tpl
BatchID=v3.3.3_ecalPN_tskim-batch2
InputDataset=mc24:v3.3.3_ecalPN-batch2
InputFilesPerJob=10
FinalOutputDestination=SLAC_GRIDFTP
