RandomSeed1SequenceStart=20000001
RandomSeed2SequenceStart=20000001
NumberofJobs=1
DetectorVersion=14-8gev
BeamEnergy=8.0
ElectronNumber=2
PhysicsProcess=signal_W_noDecay_sim
SampleId=v14-8gev-2e-signal_W_noDecay_sim
Scope=mc24
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
LdmxImage=LDMX_pro-3.3.6.sif
JobWallTime=1200
JobMemory=2
JobTemplate=ldmxjob-ne-signal-3.3.6_test.py.tpl
InputDataset=mc23:Ap0.001GeV_sim
InputFilesPerJob=1
BatchID=Ap0.001GeV_v3.3.6_2e
PileupDataset=mc24:v3.3.6_1e_forPileup-batch2
FinalOutputDestination=SLAC_GRIDFTP
