RandomSeed1SequenceStart=10001
RandomSeed2SequenceStart=10003
NumberofJobs=1
DetectorVersion=14-8gev
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v14-8GeV-1e-ecal_photonuclear
Scope=validation
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=Yes
LdmxImage=LDMX_pro-3.3.3.sif
SimExecutable=ldmxsim.sh
JobWallTime=180
JobMemory=2
JobTemplate=ldmxjob-tskim-on-v3.3.3_withOR.py.tpl
BatchID=v3.3.3_ecalPN_tskim_withOR_test
InputDataset=validation:ecalPNtest_v3.3.3
InputFilesPerJob=10
FinalOutputDestination=LUND_GRIDFTP
