RandomSeed1SequenceStart=40001
RandomSeed2SequenceStart=40001
NumberofJobs=1000
DetectorVersion=14-8gev
BeamEnergy=8.0
ElectronNumber=4
PhysicsProcess=inclusive
SampleId=v14-8GeV-4e-inclusive
Scope=mc24
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
LdmxImage=LDMX_pro-3.3.6.sif
JobWallTime=1200
JobMemory=2
JobTemplate=ldmxjob-ne-inclusive-3.3.6.py.tpl
BatchID=v3.3.6-4e
PileupDataset=mc24:v3.3.6_1e_forPileup-batch3
FinalOutputDestination=SLAC_GRIDFTP
