[common]

[client]
rucio_host = https://act-ruciodb2.cern-test.uiocloud.no:443
auth_host = https://act-ruciodb2.cern-test.uiocloud.no:443
# virtualenv dir, needs testing
#ca_cert = $VIRTUAL_ENV/lib/python3.6/site-packages/certifi/cacert.pem
# standard cert dir
ca_cert = /etc/grid-security/certificates/LDCS-CA.pem
request_retries = 3
auth_type = userpass

#uncomment to run as root (not recommended, use ldmx-admin below instead) 
#username = ddmlab
#account = root
#password = ***PASSHERE***

# for normal operations: run as ldmx-admin
username = ldmx-admin
account = ldmx-admin
password = ***PASSHERE***

# legacy: ldmx-user, not sure whether this should be used.
#username = ldmx-user
#account = ldmx-user
#password = ***PASSHERE***

# by default list json metadata - not sure why this was commented out
#metadata_default_plugin=JSON



